*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px dotted black;
}

header{
  height: 100px;
}

body{
  background-color: white;
}

img{
  max-width: 100%;
}

.d-flex{
  display: flex;
}

.container{
  margin: 0 auto;
  width: 1000px;
}

.row{
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  margin-bottom: 20px;
  position: relative;

}
.card img{
  max-width: 320px;
}

.card .info .prod-title{
  text-transform: uppercase;

}

.card .heart{
  position: absolute;
  right: 0;
  top: 5px;
  background-color: white;
  padding: 3px 7px;
  font-weight: 800;
}

.card .heart:hover{
  color: red;
}

.card .disc{
  position: absolute;
  left: 0;
  bottom: 100px;
  background-color: red;
  color: white;
  padding: 3px 7px;
  font-weight: 800;
}

.card .sost{
  position: absolute;
  left: 55px;
  bottom: 100px;
  background-color: #008000;
  color: white;
  padding: 3px 7px;
  font-weight: 800;
}

.card .prod-disc-price{
  color: #ff0000;
  font-weight: 800;
}

.card .prod-price{
  text-decoration: line-through;
}

.sec-image{
 display: none; 
}

.card:hover .sec-image{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
