* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px dotted rgb(0, 0, 0);
}

header {
  background-color: #ff6900;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
  max-width: 100%;
}

main {
  margin-top: 100px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

/* HEADER */

.topbar {
  padding: 10px;
}

.topbar .container {
  justify-content: space-between;
  align-items: center;
}

.topbar img {
  max-width: 150px;
}

.topbar .menu {
  width: 20%;
}

.menu.left li {
  padding-right: 10px;
}

.menu.right li {
  padding: 0 5px;
}

.menu.right ul {
  justify-content: flex-end;
}

.topbar .menu ul a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.topbar .menu ul a:hover {
  text-decoration: underline;
}


/* MAIN */
.row {
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-basis: calc(100% / 3); */
}

.card {
  margin-bottom: 20px;
  position: relative;
}

.card:hover {
  opacity: 0.6;
}

.card img {
  max-width: 320px;
}

.card .info .prod-title {
  text-transform: uppercase;
}

.card .heart {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: white;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  text-align: center;
}

.card .heart:hover {
  color: red;
}

.tag {
  position: absolute;
  padding: 3px 7px;
  font-weight: 800;
  color: white;
}

.card .disc {
  left: 0;
  bottom: 100px;
  background-color: red;
}

.card .sost {
  left: 55px;
  bottom: 100px;
  background-color: #008000;
}

.card .sost.single {
  left: 0px;
}

.brand {
  font-size: 0.8rem;
}

.card .prod-disc-price {
  color: #ff0000;
  font-weight: 800;
}

.card .prod-price {
  text-decoration: line-through;
}

.sec-image {
  display: none;
}

.card:hover .sec-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* FOOTER */

footer {
  width: 100%;
  background-color: #1a1a1a;
  color: white;
}

footer .container {
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

footer ul {
  justify-content: space-between;
  padding: 5px 0;
}

.footer-left span {
  font-size: 1.3rem;
}

.footer-left a {
  color: #d9f0e2;
  text-decoration: none;
  padding-right: 10px;
}

.footer-left a:hover {
  text-decoration: underline;
}

.footer-right li:hover .fa-x-twitter {
  color: black;
}

.footer-right li:hover .fa-facebook {
  color: blue;
}

.footer-right li:hover .fa-square-instagram {
  color: purple;
}

.footer-right li:hover .fa-square-pinterest {
  color: red;
}

.footer-right li:hover .fa-youtube {
  color: red;
}